<style>
    p{text-align: justify;font-size:small;}
</style>
<!-- <div ng-include="'./views/partials/_header.html'"></div> -->
<div class="misc-page row">
    <div class="container clearfix">

        <div class="col-md-3">
            <div ng-include="'./views/partials/_misc-menu.html'"></div>
        </div>

        <div class="content-container col-md-9 no-gutter">

            <h2 class="title">Frequently Asked Questions</h2>

            <div class="content">

                <p class="question">Q. Is Daystage free for use?</p>
                <p class="answer">A. Yes. Daystage is free and always will be.</p><br/>

                <p class="question">Q. How is the daily winner chosen?</p>
                <p class="answer">A. Once a video is uploaded, it automatically is added to the daily competition in which the winning video is the one receiving the most “applause” within the 24 hour time frame.</p><br/>

                <p class="question">Q. How can I get more applause?</p>
                <p class="answer">A. The more accurate the video tags are, the higher the chances of reaching audiences who are interested in it. Leaving the “share on Facebook” button checked will increase exposure and most likely applause since friends are more likely to vote for friends.</p><br/>

                <p class="question">Q. How can I increase my chances of getting hired?</p>
                <p class="answer">A. The more videos you upload to your profile the more viewers see your abilities and performing abilities. Linking your profile to your YouTube channel automatically features your YouTube videos as well - showing a higher level of professionalism.</p><br/>

                <p class="question">Q. If I didn’t win today, can I try again?</p>
                <p class="answer">A. Yes, every day is a new opportunity to win by getting the highest number of applause. To increase your chances of winning after your video has been uploaded, share it with your friends on other social networks for more exposure.</p><br/>

            </div>

        </div>
    </div>
</div>
