<!-- <div ng-include="'./views/partials/_header.html'"></div> -->
<div class="row forgot-password">
    <div class="container">
        <a ui-sref="home" class="icon-close glyphicon glyphicon-remove pull-right"></a>
        <div class="col-md-8 col-md-offset-2">

            <h3 class="title text-center">
                Reset Password
            </h3>
            <p class="caption col-md-8 col-md-offset-2 text-center">
                Enter the email you signed up with to Daystage. A password reset link will be sent to you by email.
            </p>

            <forgot-password></forgot-password>

            <a ui-sref="home" class="text-center center-block">Back to Sign Up</a>
        </div>
    </div>
</div>
