top-ten {
    /* the slides */
    .slick-slide {
        margin: 0 10px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -10px;
        padding-top: 10px;
    }
    .slick-arrow {
        outline: 0;
    }
    .item {
        position: relative;
        outline: 0;
        &:hover {
            cursor: pointer;
        }
        .back-btn-v2 {
            position: absolute;
            top: 30%;
            right: 10%;
            color: #c5c5c5;
        }
        .back-btn-v1 {
            font-size: 8pt;
            position: absolute;
            top: -10px;
            left: -10px;
            border-left: 1px solid #f9d921;
            // border-right: 1px solid #f9d921;
            border-top: 1px solid #f9d921;
            background: rgba(255,255,255,1);
            border-radius: 70px;
            width: 25px;
            height: 25px;
        }
        .item-details {
            border-bottom: 1px solid #f6f6f6;
            padding-bottom: 10px;
            position: relative;
            &.selected {
                border-bottom-color: $yellow;
            }
        }
        .top-thumbnail {
            height: 132px;
            background: black;
            position: relative;
            &.selected {
                border: solid 2px $yellow;
            }
        }
        @media (max-width: 1024px) {
            .top-thumbnail {
                height: 110px;
            }
        }
        @media (max-width: 600px) {
            .top-thumbnail {
                height: 150px;
            }
        }
        @media (max-width: 480px) {
            .top-thumbnail {
                height: 200px;
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
        .applause-ribbon {
            position: relative;
            background: url('../images/ribbon.png') center right no-repeat;
            background-size: 100% 100%;
            min-width: 60px;
            height: 70px;
            position: absolute;
            right: -1px;
            top: -12px;
            .applause-icon {
                position: absolute;
                top: 50%;
                left: 8px;
                transform: translate(0, -50%);
                width: 20px;
                height: 20px;
                background: url("../images/applause-white.png") center center no-repeat;
                background-size: contain;
            }
            .applause-score {
                position: relative;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                padding-left: 36px;
                padding-right: 5px;
                color: white;
                font-weight: bold;
            }
        }
        .description {
            margin-bottom: 2px;
            margin-top: 2px;
            font-size: 14pt;
            font-weight: normal;
            color: $yellow;
        }
        .user-name {
            margin-bottom: 0;
        }
    }
    // .item
    * {
        // font-family: "Myriad Pro", sans-serif;
    }
    .carousel-inner {
        height: 200px;
        width: 92%;
        margin: 0 auto;
        padding-left: 7px;
    }
    .slider-item {
        height: 100px !important;
        .youtube-thumbnail,
        video {
            height: 100% !important;
            width: 100% !important;
            background: #000;
            &.selected {
                border: solid 2px $yellow;
            }
        }
        .applause-ribbon {
            background: url('../images/ribbon.png') center right no-repeat;
            background-size: cover;
            min-width: 40px;
            height: 25px;
            position: absolute;
            right: 14px;
            top: 10px;
            padding: 5px 5px 10px 10px;
            img {
                width: 15px;
                height: 15px;
                position: relative;
                top: -3px;
                filter: drop-shadow(0 2px 2px lighten($pitch-black, 70%));
            }
            span {
                display: inline-block;
                font-size: 8pt;
                color: #fff;
                position: relative;
                top: -2px;
                text-shadow: 0 2px 2px lighten($pitch-black, 70%);
            }
        }
        a,
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
        .title {
            color: darken($yellow, 3%);
        }
        .author {
            color: lighten($pitch-black, 3%);
        }
    }
    .carousel-control {
        margin: 0 !important;
        width: 20px;
        height: 100px;
    }
    .left.carousel-control {
        background: url("../images/carousel-left-arrow.png") center 20px no-repeat;
        background-size: contain;
    }
    .right.carousel-control {
        background: url("../images/carousel-right-arrow.png") center 20px no-repeat;
        background-size: contain;
    }
    .glyphicon-chevron-left {
        &:before {
            content: '' !important;
        }
    }
    .glyphicon-chevron-right {
        &:before {
            content: '' !important;
        }
    }
}
