user-profile {
  .user-info-container {
    box-shadow: 0 2px 2px lighten($pitch-black, 70%);
    .general-info {
      background: #fff;
      padding: 20px;
      box-shadow: 0 2px 2px lighten($pitch-black, 70%);
      border-bottom: solid 1px #ececec;
      .name {
        margin-top: 30px;
        margin-left: 15px;
        color: lighten($pitch-black, 30%);
      }
      .address {
        background: url("../images/map-marker-dark.png") center left no-repeat;
        background-size: contain;
        padding-left: 40px;
        color: lighten($pitch-black, 50%);
        margin-bottom: 0;
      }
      .birth-date {
        background: url("../images/candle.png") center left no-repeat;
        background-size: contain;
        padding-left: 40px;
        color: lighten($pitch-black, 50%);
        margin-bottom: 0;
      }
      .buttons {
        margin-top: 10px;
      }
    }
    //.general-info
    .stats {
      background: white;
      margin: 0;
      list-style-type: none;
      padding: 15px 0 0;
      border-bottom: solid 1px #ececec;
      li {
        a {
          &.active {
            background: $yellow;
          }
          text-decoration: none;
          cursor: pointer;
          display: inline-block;
          padding: 10px;
          color: lighten($pitch-black, 40%);
          font-size: 14pt;
          width: 100%;

          .score {
            float: right;
            background: $yellow;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
          }
        }
      }
    }
    //.stats
  }
  //.user-info-container

  .top-stages {
    .top1 {
      margin-top: 20px;
      position: relative;
      width: 100%;
      height: 230px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100px 0;
      .info {
        padding-top: 50px;
        padding-left: 20px;
        width: 70%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(9, 9, 9, 1) 47%, rgba(19, 19, 19, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#131313', GradientType=1);
        .crown {
          background: $yellow;
          color: #fff;
          font-size: 36pt;
          text-align: center;
          span {
            vertical-align: middle;
            text-shadow: 0 2px 2px lighten($pitch-black, 50%);
          }
        }
        .caption {
          color: #fff;
        }
        .author {
          padding-top: 0;
          color: #c1c1c1;
        }
      }
    }
    .top-container {
      margin-top: 20px;
      margin-bottom: 50px;
      background: #fff;
      padding: 5px;
      .top {
        position: relative;
        width: 100%;
        height: 208px;
        background-size: cover;
        background-repeat: no-repeat;
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
        .number {
          width: 90px;
          height: 60px;
          color: #fff;
          text-align: center;
          span {
            display: inline-block;
            position: relative;
            top: 10px;
            font-size: 16pt;
            text-shadow: 0 2px 2px lighten($pitch-black, 50%);
          }
          &:before {
            content: '';
            width: 90px;
            height: 60px;
            background: url("../images/ribbon-vertical.png") center center no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .caption {
          opacity: 0.8;
          position: absolute;
          bottom: 0;
          background: #D8D8D8;
          color: #878383;
          padding: 10px;
          width: 100%;
          font-size: 16pt;
        }
      }
    }
  }
  //.top-stages
  .mobile-user-info-container {
    .controls {
      .btn {
        width: 48%;
      }
    }
    .paper {
      padding: 10px;
      .info-row-1 {
        margin-top: 30px;
      }
      .name {
        font-size: 18pt;
        margin: 23px 0 23px 80px;
      }
      .info {
        padding: 5px;
        font-size: 12pt;
      }
      .filters {
        background: #F6F6F6;
        margin: 5px 8px;
        padding: 5px;
        border: solid 1px #e8e8e8;
        .score {
          float: right;
          background: $yellow;
          border-radius: 3px;
        }
        span {
          padding: 0 10px;
        }
      }
      .icon {
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 30px;
        &.address {
          background-image: url("../images/map-marker-dark.png");
        }
        &.edit-profile {
          background-image: url("../images/gear-dark.png");
        }
        &.birth-date {
          background-image: url("../images/candle.png");
        }
      }
    }
  }
}