<!-- <div class="footer container hidden-xs hidden-sm"> -->
<div class="footer container">
    <ul>
        <li>
            <a ui-sref="terms-of-service" target="_blank">Terms</a>
        </li>
        <li>
            <a ui-sref="privacy-policy" target="_blank">Privacy Policy</a>
        </li>
        <li>
            <a href="http://about.daystage.com" target="_blank">About</a>
        </li>
        <li>
            <a ui-sref="help">Help & Feedback</a>
        </li>
        <li>
            <a ui-sref="home">Daystage &copy; 2016</a>
        </li>
    </ul>
</div>
