<form novalidate name="ResetPasswordForm" class="form-group clearfix" ng-submit="forgotPassword()"
      ng-class="{'has-success':ResetPasswordForm.$submitted && ResetPasswordForm.$valid,
      'has-error':ResetPasswordForm.$submitted && ResetPasswordForm.$invalid}">

    <div class="col-md-6 col-md-offset-3">
        <input type="email" class="form-control input-lg" placeholder="Enter email address"
               name="email" ng-model="User.email" required>

        <p ng-show="ResetPasswordForm.$submitted && ResetPasswordForm.$invalid" class="help-block">
            Please enter a valid email address.
        </p>

        <button type="submit" class="btn btn-black btn-lg btn-block">
            {{ isLoading ? 'Submitting...' : 'Submit' }}
        </button>
    </div>
</form>