<md-dialog class="hire-dialog" flex="30" aria-label="Hire">

    <a href="" class="close" ng-click="cancel()">x</a>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <p>Hire Artist</p>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="container">

            <p class="note">By clicking continue the artist you wish to hire will receive the following information:</p>

            <hire-form employer="employer" employee="employee"></hire-form>

        </div>
    </md-dialog-content>

</md-dialog>