<md-dialog class="hire-dialog" flex="30" aria-label="Hire">

    <a href="" class="close" ng-click="cancel()">x</a>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <p>Hire Artist</p>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div class="container">

            <p class="note">Hi {{ currentUser.firstName }}, a 'Hire' request was already sent to the artist with the following information:</p>

            <div class="body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Full Name:</label>
                        <div class="col-sm-8 control-label">
                            {{ previousHire.userToHire.firstName + ' ' + previousHire.userToHire.lastName }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Regarding:</label>
                        <div class="col-sm-8 control-label">
                            {{ previousHire.description }}
                        </div>
                    </div>

                </div>
            </div>

            <p class="note">Please wait for the artist to reply or try again 7 days after the 'Hire' request was sent.</p>

            <div class="footer clearfix">
                <button class="btn-link pull-right" ng-click="cancel()">Continue</button>
            </div>

        </div>

    </md-dialog-content>

</md-dialog>