<md-dialog class="hire-dialog-guest" flex="30" aria-label="Hire">

    <a href="" class="close" ng-click="cancel()">x</a>

    <md-toolbar class="basic-dialog-toolbar">
        <div class="md-toolbar-tools">
            <p>Log in / sign up</p>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="container">

            <p class="text-center">Once you sign up, you will be able to:</p>

            <div class="buttons clearfix">
                <div class="col-sm-4">
                    <div class="caption">
                        <p class="text-center">Follow Artists</p>
                    </div>
                    <button class="btn center-block btn-follow">Follow</button>
                </div>
                <div class="col-sm-4">
                    <div class="caption">
                        <p class="text-center">Hire Artists</p>
                    </div>
                    <button class="btn center-block btn-hire">Hire</button>
                </div>
                <div class="col-sm-4">
                    <div class="caption">
                        <p class="text-center">Vote for Winning Artist</p>
                    </div>
                    <button class="btn center-block btn-applause"></button>
                </div>
            </div>

            <div class="footer clearfix">
                <a href="" class="pull-right" ng-click="cancel()">Continue</a>
            </div>

        </div>
    </md-dialog-content>

</md-dialog>