<form novalidate name="ResetPasswordForm" ng-submit="resetPassword()">

    <div class="form-group" ng-class="{ 'has-error': ResetPasswordForm.password.$invalid &&
    (ResetPasswordForm.$submitted || ResetPasswordForm.password.$touched) }">
        <input type="password" class="form-control input-lg" placeholder="Password" name="password"
               ng-model="ResetPassword.password" required minlength="6">

        <div class="help-block" ng-messages="ResetPasswordForm.password.$error"
             ng-if="ResetPasswordForm.password.$invalid && (ResetPasswordForm.$submitted ||
             ResetPasswordForm.password.$touched)">
            <p ng-message="required">Password is required.</p>
            <p ng-message="minlength">Password should be at least 6 characters.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': ResetPasswordForm.passwordRepeat.$invalid &&
    (ResetPasswordForm.$submitted || ResetPasswordForm.passwordRepeat.$touched) }">
        <input type="password" class="form-control input-lg" placeholder="Re-enter Password" name="passwordRepeat"
               ng-model="ResetPassword.passwordRepeat" compare-to="ResetPassword.password">

        <div class="help-block" ng-messages="ResetPasswordForm.passwordRepeat.$error"
             ng-if="ResetPasswordForm.passwordRepeat.$invalid && (ResetPasswordForm.$submitted ||
             ResetPasswordForm.passwordRepeat.$touched)">
            <p ng-message="compareTo">Password does not match.</p>
        </div>
    </div>

    <button class="btn btn-black btn-lg center-block">
        Update Password
    </button>

</form>