<h3 class="winning-artist-label">
    Today's Winning Artist
</h3>
<h3 class="winner-date">
    March 27, 2016
</h3>
<div class="profile-info clearfix">
    <div class="winner-profile-pic rounded-container rc-lg rc-winner pull-left"
         background-img="./images/adam-road/profile-pic.png"></div>
    <h1 class="name">Adam Road</h1>
    <h4 class="address"><img src="./images/map-marker-transparent.png" alt="..."> Queen, New York</h4>
</div>
<h2 class="caption">Playing in one of the greatest cities on earth.</h2>
<h4 class="hash-tags">#Trubdr.AdamRoad #Guitar #TelAviv</h4>
<button class="btn btn-follow btn-lg">Follow</button>
<button class="btn btn-facebook btn-lg" ng-hide="isLoggedIn" fb-share="https://www.facebook.com/" fb-caption="Sample Caption">Follow</button>

<div id="status">
</div>