<div class="stage-video-container clearfix embed-responsive embed-responsive-16by9">
    <video>
        <source src="files/SampleVideo_1280x720_1mb.mp4" type="video/mp4">
    </video>
    <div class="overlay">
        <button class="play" ng-click="play()">
        </button>
    </div>
    <stage-video-side-bar class="col-md-5 no-gutter"></stage-video-side-bar>
    <div class="footer-controls">
        <button class="btn btn-video-control views btn-lg">12,438</button>
        <button class="btn btn-video-control applause btn-lg">964</button>
        <button class="btn btn-facebook btn-lg pull-right">Share</button>
    </div>
</div>