<script type="text/ng-template" id="youtubePopoverTemplate.html">
    <div class="daystage-tooltip">
        <div>
            <span>
                <span class="glyphicon glyphicon-info-sign"></span>
                You can add any videos you'd like, directly from your YouTube channel.
            </span>
        </div>
        <div>
            <span class="pull-right close-tooltip" style="position: relative;top: -14px;" ng-click="userTooltips.youtube.close()">
                X
            </span>
        </div>
    </div>
</script>

<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
<div class="container-fluid progress-bar-container " ng-if="stage.videoFile.progress > 0">
    <div class="clearfix">
        <h5 class="pull-left">
            Uploaded
        </h5>
        <h5 class="pull-right">{{ (stage.videoFile.progress||'0') + '%' }}</h5>
    </div>
    <div class="progress">
        <div class="progress-inner" style="width:{{ stage.videoFile.progress||0 }}%"></div>
    </div>
</div>
<div class="hidden-xs col-xs-12" ng-show="!isLoading && (stage.videoFile.progress == undefined || stage.videoFile.progress == 0)">
    <form class="container-fluid" novalidate name="UploadStageForm">
        <div class="row margin-bottom">
            <div class="col-xs-4 btn-mobile" ng-show="!fileName && youtubeVideos.length <= 0" ngf-select="fileSelect($files)" ng-model="videoFile" name="videoFile" accept="video/*" ngf-max-size="500MB" ngf-model-invalid="stage.errorFile">
                <i class=" icon-chevron-left glyphicon glyphicon-upload"></i>
                <span>Upload video
                </span>
            </div>
            <div>
                <div
                    class="col-xs-4 btn-mobile"
                    tooltip-is-open="userTooltips.youtube.show"
                    tooltip-placement="{{userTooltips.youtube.placement}}"
                    uib-tooltip-template="userTooltips.youtube.html"
                    tooltip-animation="userTooltips.youtube.isAnimation"
                    tooltip-trigger="'none'"
                    tooltip-enable="userTooltips.youtube.isEnabled"
                    ng-show="!fileName && youtubeVideos.length <= 0"
                    ng-click="youtubeSelect()">
                    <i class=" icon-chevron-left glyphicon glyphicon-plus"></i>
                    <span>Youtube channel
                    </span>
                </div>
            </div>
            <div class="col-xs-4 category-container">
                <md-input-container class="">
                    <label ng-show="stage.category == ''">Select Category</label>
                    <md-select name="category" ng-model="stage.category" class="">
                        <md-option ng-repeat="category in categories" value="{{ category.id }}" name="category">
                            {{ category.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div ng-if="fileName" class="col-xs-4 btn-mobile">
                <div class="file-names nopadding">
                    {{ fileName }}
                </div>
            </div>
            <div ng-if="fileName || youtubeVideos.length > 0" class="col-xs-4 category-container">
                <md-checkbox md-no-ink class="nopadding" aria-label=" Checkbox No Ink " ng-model="stage.share">
                    Share on facebook!
                </md-checkbox>
            </div>
        </div>
        <div class="row margin-bottom" ng-if="youtubeVideos.length == 0">
            <div ng-if="videoFile" class="col-xs-3 file-names-container">
                <div class="preview">
                    <div class="preview_close" ng-click="removeVideo();">x</div>
                    <video ngf-src="videoFile"></video>
                </div>
            </div>
            <div ng-class="{'col-xs-12' : !fileName , 'col-xs-9': fileName }">
                <div class="stage-description-container">
                    <textarea class="stage-description form-control" placeholder="Video Description..." ng-model="stage.description" name="description" rows="4" required></textarea>
                </div>
            </div>
        </div>
        <div class="row margin-bottom" ng-if="youtubeVideos.length > 0">
            <div class="col-xs-3 file-names-container" ng-repeat="video in youtubeVideos">
                <div class="preview">
                    <div class="preview_close" ng-click="removeVideo();">x</div>
                    <img ng-src="{{ video.thumbnail }}" alt="...">
                </div>
            </div>

        </div>
        <div class="row margin-bottom" ng-if="errorMessage == ''">
           <div class="col-xs-12 alert alert-info">
               <strong>Tip:</strong>
               the more accurate your hashtags are the better the chances of winning the daily Stage.
           </div>
       </div>
       <div class="row margin-bottom" ng-if="errorMessage != ''">
           <div class="col-xs-12 error error-info">
               {{ errorMessage }}
           </div>
       </div>
       <div ng-if="youtubeVideos.length > 0" class="row">
            <div class="col-xs-4" ng-repeat="v in youtubeVideos">{{ v.name }}</div>
        </div>
        <div class="row margin-bottom">
            <div class="col-xs-10 no-gutter">
                <div class="stage-tags-container" ng-class="{'has-error': UploadStageForm.$submitted && UploadStageForm.description.$invalid,
'has-success': UploadStageForm.$submitted && UploadStageForm.description.$valid}">
                    <textarea class="stage-tags form-control" placeholder="Add your #hashtags #music #vocal #artistname #drums #chill #rock" ng-model="stage.tags" name="tags" rows="1" required></textarea>
                </div>
            </div>
            <div class="col-xs-2">
                <button ng-class="{'btn-disabled': !isUploadStageAllowed() }"  class="pull-right btn btn-stage" type="submit" ng-click="uploadStage()">
                    Post
                </button>
            </div>
        </div>
    </form>
</div>

<div class="visible-xs col-xs-12">
    <div class="row margin-bottom">
        <div class="col-xs-6 btn-mobile" ngf-select="fileSelect($files)" ng-model="videoFile" name="videoFile" accept="video/*" ngf-max-size="500MB" ngf-model-invalid="stage.errorFile">
            <span>Upload video
            </span>
            <i class="pull-left icon-chevron-left glyphicon glyphicon-upload"></i>
        </div>
        <div class="col-xs-6 btn-mobile" ng-click="youtubeSelect()">
            <span>Youtube channel
            </span>
            <i class="pull-left icon-chevron-left glyphicon glyphicon-plus"></i>

        </div>

    </div>

    <div class="row margin-bottom">
        <div ng-if="videoFile" class="col-xs-4 file-names-container">
            <div class="preview">
                <div class="preview_close" ng-click="removeVideo();">x</div>
                <video ngf-src="videoFile"></video>
            </div>
        </div>
        <div ng-class="{'col-xs-12' : !fileName && youtubeVideos.length <= 0, 'col-xs-8': fileName || youtubeVideos.length > 0 }">
            <div class="stage-description-container" ng-class="{'has-error': UploadStageForm.$submitted && UploadStageForm.description.$invalid,
'has-success': UploadStageForm.$submitted && UploadStageForm.description.$valid}">
                <textarea class="form-control" placeholder="Video Description..." ng-model="stage.description" name="description" rows="4" required></textarea>
                <p class="help-block" ng-if="UploadStageForm.$submitted && UploadStageForm.description.$invalid">
                    Video Description is required.</p>
            </div>
        </div>
    </div>
    <div class="row margin-bottom" ng-if="errorMessage == ''">
       <div class="col-xs-12 alert alert-info">
           <strong>Tip:</strong>
           the more accurate your hashtags are the better the chances of winning the daily Stage.
       </div>
   </div>
   <div class="row margin-bottom" ng-if="errorMessage != ''">
       <div class="col-xs-12 error error-info">
           {{ errorMessage }}
       </div>
   </div>

    <div class="row margin-bottom">
        <div class="col-xs-12">
            <div class="stage-tags-container" ng-class="{'has-error': UploadStageForm.$submitted && UploadStageForm.description.$invalid,
'has-success': UploadStageForm.$submitted && UploadStageForm.description.$valid}">
                <textarea class="stage-tags form-control" placeholder="Add your #hashtags #music #vocal #artistname #drums #chill #rock" ng-model="stage.tags" name="tags" rows="2" required></textarea>
            </div>
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-xs-6">
            <md-input-container class="">
                <label ng-show="stage.category == ''">Select Category</label>
                <md-select name="category" ng-model="stage.category" class="">
                    <md-option ng-repeat="category in categories" value="{{ category.id }}" name="category">
                        {{ category.name }}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-6">
            <button ng-class="{'btn-disabled': !isUploadStageAllowed() }" class="pull-right btn btn-stage" type="submit" ng-click="uploadStage()">
                Post
            </button>
        </div>
    </div>
</div>

<!-- <div class="container-fluid paper no-gutter hidden-xs" ng-show="!isLoading && (stage.videoFile.progress == undefined || stage.videoFile.progress == 0)">
    <form class="container-fluid" novalidate name="UploadStageForm">
        <div class="container-fluid select-video-container">
            <div class="preview-containers clearfix">
                <div ng-show="!fileName && youtubeVideos.length <= 0" class="select-video upload-selector" ngf-select="fileSelect($files)" ng-model="videoFile" name="videoFile" accept="video/*" ngf-max-size="500MB" ngf-model-invalid="stage.errorFile">
                    <div class="default-preview" ng-hide="videoFile">
                        <a>
                            <span>
                                <!*- <img src="images/upload.png" alt="..."/> *->
                                <div>Upload video</div>
                            </span>
                        </a>
                    </div>

                    </a>
                </div>
                <div ng-if="!fileName && youtubeVideos.length <= 0" class="select-youtube upload-selector" ng-click="youtubeSelect()">
                    <div class="default-preview" ng-hide="youtubeVideos.length > 0">
                        <a>
                            <span>
                            <!* <img src="images/plus-green.png" alt="..."/> -*>
                            <div>+ Connect your Youtube channel</div>
                        </span>
                        </a>
                    </div>
                    <div class="preview" ng-if="youtubeVideos.length > 0">
                        <img ng-src="{{ youtubeVideos[0].thumbnail }}" alt="...">
                    </div>
                </div>
                <div class="select-youtube upload-selector">
                    <div class="category-dropdown-container nopadding">
                        <md-input-container class="category-dropdown nopadding">
                            <label ng-show="stage.category == ''">Select Category</label>
                            <md-select name="category" ng-model="stage.category" class="nopadding">
                                <md-option ng-repeat="category in categories" value="{{ category.id }}" name="category">
                                    {{ category.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div ng-if="fileName" class="select-youtube upload-selector" ng-click="youtubeSelect()">
                    <div class="file-names nopadding">
                        {{ fileName }}
                    </div>
                </div>
                <div ng-if="fileName || youtubeVideos.length > 0" class="select-youtube upload-selector">
                    <md-checkbox md-no-ink class="nopadding" aria-label=" Checkbox No Ink " ng-model="stage.share">
                        Share on facebook!
                    </md-checkbox>
                </div>
            </div>
        </div>

        <div class="container-fluid clearfix">
            <div class="alert alert-success" ng-if="UploadStageForm.videoFile.result" ng-cloak>
                <span ng-show="UploadStageForm.videoFile.result">Upload Successful</span>
            </div>
            <div class="alert alert-danger" ng-if="(UploadStageForm.$invalid && UploadStageForm.$submitted) ||
        (stage.tags.length == 0 && UploadStageForm.$submitted) || errorMsg ||
        ((!videoFile && youtubeVideos.length <= 0) && UploadStageForm.$submitted)" ng-cloak>
                <p>{{ (UploadStageForm.$invalid && UploadStageForm.$submitted)|json }}</p>
                <p>{{ (stage.tags.length == 0 && UploadStageForm.$submitted)|json }}</p>
                <p>{{ errorMsg|json }}</p>
                <p ng-show="errorMsg">{{errorMsg}}</p>
                <p ng-show="UploadStageForm.description.$error.required">Video Description is required.</p>
                <p ng-show="stage.tags.length == 0 && UploadStageForm.$submitted">Tags are required.</p>
                <p ng-show="UploadStageForm.category.$error.required">Category is required.</p>
                <p ng-show="UploadStageForm.videoFile.$error.required">Please select a video.</p>
                <p ng-show="UploadStageForm.videoFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 200M</p>
                <p ng-show="errorMsg" class="err">{{errorMsg}}</p>
                <p ng-show="(!videoFile && youtubeVideos.length <= 0)">Please select a Video File or YouTube Video</p>
            </div>
        </div>

        <div class="container-fluid nopadding clearfix">

            <div class="upload-details-container container-fluid no-gutter">
                <div class="row" style="width: 100%;">
                    <!--
              <div class="file-names-container" ng-if="fileName || youtubeVideos.length > 0">
                  <div ng-if="fileName">
                      <div class="col-md-12">



                      </div>

                  </div>
                  <div ng-if="youtubeVideos.length > 0" class="file-names col-md-6">
                      <p ng-repeat="v in youtubeVideos">{{ v.name }}</p>
                  </div>
              </div>
            -*>
                    <div class="col-md-2 file-names-container nopadding">
                        <div class="preview" ng-if="videoFile">
                            <div class="preview_close" ng-click="removeVideo();">x</div>
                            <video ngf-src="videoFile"></video>
                        </div>

                    </div>
                    <div class="nopadding" ng-class="{'col-md-12' : !fileName && youtubeVideos.length <= 0, 'col-md-10': fileName || youtubeVideos.length > 0 }">
                        <div class="stage-description-container" ng-class="{'has-error': UploadStageForm.$submitted && UploadStageForm.description.$invalid,
'has-success': UploadStageForm.$submitted && UploadStageForm.description.$valid}">
                            <textarea class="stage-description form-control" placeholder="Video Description..." ng-model="stage.description" name="description" rows="3" required></textarea>
                            <p class="help-block" ng-if="UploadStageForm.$submitted && UploadStageForm.description.$invalid">
                                Video Description is required.</p>
                        </div>
                    </div>
                </div>

                <div class="row" style="width: 100%;">
                    <div class="col-md-12 nopadding">
                        <div class="alert alert-info">
                            <strong>Tip:</strong> the more accurate your hashtags are the better the chances of winning the daily Stage.
                        </div>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-md-9 nopadding">
                        <div class="stage-tags-container" ng-class="{'has-error': UploadStageForm.$submitted && UploadStageForm.description.$invalid,
'has-success': UploadStageForm.$submitted && UploadStageForm.description.$valid}">
                            <textarea class="stage-tags form-control" placeholder="Add your #hashtags #music #vocal #artistname #drums #chill #rock" ng-model="stage.tags" name="tags" rows="1" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-3 nopadding">
                        <button ng-disabled="!isUploadStageAllowed()" class="pull-right btn btn-stage" type="submit" ng-click="uploadStage()">
                        Post
                    </button>
                    </div>
                </div>
                <!--<div class="row" style="width: 100%;border-top:1px solid #e5e5e5;">
                <div class="col-md-8 " style="padding-top: 10px;">

                </div>
                <div class="col-md-4 " style="padding-top: 10px;">

                </div>


                <div class="col-md-12 nopadding stage-tags-container no-gutter" ng-class="{'has-error':
                stage.tags.length == 0 && UploadStageForm.$submitted, 'has-success':
                stage.tags.length > 0 && UploadStageForm.$submitted}">



                    <div class="chips-placeholder" ng-show="placeHolderVisible">
                        Add Tags:i.e. Spanish Guitar Drums (press enter to insert)
                    </div>
                    <md-chips ng-model="stage.tags" name="tags" md-max-chips="8" md-autocomplete-snap ng-required>
                        <div class="placeholder" ng-show="stage.tags.length == 0">
                            Add Tags (Example: Spanish Guitar, Street Music)
                        </div>
                        <md-autocomplete id="tags-autocomplete" md-search-text="searchText" md-items="item in tagOptions" md-search-text-change="queryTags(searchText)" md-item-text="item.tag" md-select-on-match="true" md-no-cache="true" placeholder="">
                            <span md-highlight-text="searchText">{{item.tag}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.tag || $chip}}</span>
                        </md-chip-template>
                    </md-chips>

                </div>

            </div>
          -*>

            </div>
        </div>
        <!--
    <div class="container-fluid">
        <div class="footer-controls clearfix container-fluid">
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="stage.share">
                Share on facebook for more applause from friends!
            </md-checkbox>

        </div>
    </div>
  *->

    </form>

</div>
-->
