<div class="section container-fluid home-top-10-section no-gutter hidden-xs" ng-if="!mobileMenuOpen">
    <div class="container">
        <h3 class="heading text-center">
            <img src="images/line.png" alt="..." class="hidden-xs">
            New Musician Featured In
            <img src="images/line.png" alt="..." class="hidden-xs">
        </h3>
        <div class="text-center">
            <!-- <div countdown end-time="winnerAnnouncementEndTime"></div> -->
            <div ng-if="!isMobile || isMobile" countdown end-time="winnerAnnouncementEndTime"></div>
        </div>
    </div>
</div>

<div class="section container-fluid home-top-10-section no-gutter hidden-md hidden-lg hidden-sm" ng-if="!mobileMenuOpen">
    <div class="container">
        <h3 class="heading text-center">
            <img src="images/line.png" alt="..." class="hidden-xs">
            New Musician Featured In
            <img src="images/line.png" alt="..." class="hidden-xs">
        </h3>
        <div class="text-center">
            <div countdown end-time="winnerAnnouncementEndTime"></div>
        </div>
    </div>
</div>
